{% extends "mod/layout.html.twig" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

{{ form_open()|raw }}
<h1>Dashboard</h1>
<div class="form-group">
     
            <input type="text" name="query" id="query" class="form-control" placeholder="{{ t('Sendersuche') }}" />
            
    </div>

<div class="row">
    {% for channel in channels %}
    <div class="col-md-3 channel-box" data-channel="{{ channel.name }}">

<div class="panel panel-default">
  <div class="panel-body" align="center">
    <img src="{{ base_url() }}channellogo/{{ channel.id }}/100x100" />
  </div>
  <div class="panel-footer" align="center"><button class="btn btn-success btn-sm restart" data-channel-id="{{ channel.id }}">Sender neu starten</button></div>
</div>

    </div>
    {% endfor %}
</div>

{{ form_close()|raw }}

{% endblock %}