{% extends 'layout.html.twig' %}

{% block title %}Watch HD - High-Quality Streams
{% endblock %}


{% block content %}
	<div class="container-fluid-home">


<div class="home-bg-container"> </div>
		<div class="app-container">
			<section class="section hero">
				<div class="hero__background hero__background--front"></div>
				<div class="hero__background hero__background--back"></div>
				<div class="hero__content">
					<h1 class="hero__title">High-Quality Streams of Sports, Films, and Documentaries</h1>
					<p class='hero_subtitle'>Experience the best in Full HD and Ultra HD</p>
					<button class="btn" id="joinNowButton">JOIN NOW</button>
				</div>
			</section>

			<header class="header">
				<h2 class="header-title">Discover the Ultimate TV Experience</h2>
				<p>Watch unlimited content at a low fixed price. Watch unlimited top sports, movies, and series, and still be able to cancel at any time. All in HD!</p>
			</header>

			<div class="wrapper">
				<div class="card card1">
					<div class="info">
						<svg width="58" height="58" viewbox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-icon">
							<path d="M48.6104 8.36844C45.974 5.71111 42.8366 3.60319 39.3799 2.16673C35.9232 0.73028 32.2159 -0.00616605 28.4727 3.88854e-05C24.7286 -0.00581897 21.0205 0.730763 17.563 2.16718C14.1054 3.60359 10.967 5.71132 8.32924 8.36844C-2.77641 19.4712 -2.77641 37.5439 8.32924 48.6496C10.967 51.3074 14.1059 53.4156 17.564 54.8521C21.0222 56.2885 24.7309 57.0247 28.4755 57.018C32.2186 57.0246 35.9258 56.2886 39.3824 54.8526C42.8391 53.4166 45.9766 51.3092 48.6132 48.6524C59.7189 37.5496 59.7189 19.4769 48.6104 8.36844ZM28.9854 5.72234H27.9628C28.1366 5.71949 28.3018 5.69671 28.4755 5.69671C28.6493 5.69671 28.8116 5.71949 28.9854 5.72234ZM46.252 42.7507H39.8631L36.2799 49.9171C33.7803 50.8406 31.1374 51.3159 28.4727 51.3213C25.803 51.3164 23.1551 50.8401 20.6511 49.9142L17.0765 42.7792H10.7104C8.36181 39.8593 6.77351 36.4028 6.0876 32.7188L11.3798 25.6607L7.91623 18.7307C9.02141 16.3796 10.5236 14.2367 12.3568 12.396C14.9225 9.82126 18.0674 7.89821 21.5284 6.78762L28.4698 11.419L35.414 6.79047C38.8741 7.90185 42.0185 9.82369 44.5857 12.396C46.4169 14.2345 47.918 16.3744 49.0234 18.7221L45.5598 25.6607L50.852 32.7188C50.1693 36.3909 48.589 39.8372 46.252 42.7507Z" fill="white"/>
							<path d="M18.5006 25.6608L22.7731 37.0541H34.1664L38.4389 25.6608L28.4698 18.5399L18.5006 25.6608Z" fill="white"/>
						</svg>
						<h3>Everything for your love to football</h3>
						<p>Experience the excitement of Bundesliga, Champions League, and DFB Cup. Watch Premier League, La Liga, Süper Lig, and more, all live in stunning HD!</p>
					</div>
				</div>

				<div class="card card2">
					<div class="info">
						<svg width="59" height="59" viewbox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-icon">
							<path d="M29.5 0C23.6655 0 17.9619 1.73014 13.1107 4.97165C8.25944 8.21315 4.47835 12.8204 2.24557 18.2108C0.0127819 23.6013 -0.571416 29.5327 0.566847 35.2552C1.70511 40.9776 4.51471 46.234 8.64036 50.3596C12.766 54.4853 18.0224 57.2949 23.7448 58.4332C29.4673 59.5714 35.3987 58.9872 40.7892 56.7544C46.1796 54.5216 50.7869 50.7406 54.0284 45.8893C57.2699 41.0381 59 35.3345 59 29.5C59 21.6761 55.892 14.1727 50.3596 8.64035C44.8273 3.10803 37.3239 0 29.5 0ZM45.1919 31.3859L19.9062 44.0287C19.5849 44.1893 19.2278 44.2651 18.869 44.2488C18.5101 44.2326 18.1614 44.1248 17.8559 43.9359C17.5504 43.7469 17.2983 43.483 17.1235 43.1692C16.9487 42.8554 16.857 42.5021 16.8572 42.1428V16.8571C16.8573 16.4981 16.9493 16.1451 17.1242 15.8315C17.2992 15.518 17.5513 15.2544 17.8568 15.0657C18.1622 14.8769 18.5108 14.7694 18.8695 14.7533C19.2282 14.7371 19.585 14.8129 19.9062 14.9734L45.1919 27.6162C45.5414 27.7914 45.8353 28.0604 46.0407 28.3931C46.2461 28.7257 46.3549 29.109 46.3549 29.5C46.3549 29.891 46.2461 30.2742 46.0407 30.6069C45.8353 30.9396 45.5414 31.2086 45.1919 31.3838" fill="white"/>
						</svg>
						<h3>Now with Kodi plugin & M3U link</h3>
						<p>All HD streams now accessible via Kodi & M3U links, supporting all popular devices!</p>
					</div>
				</div>

				<div class="card card3">
					<div class="info">
						<svg width="51" height="51" viewbox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg" class="card-icon">
							<path d="M25.5 0C39.5836 0 51 11.4164 51 25.5C51.0036 29.3286 50.1433 33.1087 48.4832 36.5586C46.8231 40.0086 44.4061 43.0395 41.412 45.4257L40.8025 45.9H45.9C46.5499 45.9007 47.1751 46.1496 47.6477 46.5958C48.1203 47.0419 48.4047 47.6517 48.4428 48.3006C48.4809 48.9494 48.2698 49.5883 47.8526 50.0867C47.4355 50.5851 46.8437 50.9054 46.1983 50.9822L45.9 51H25.5C11.4163 51 0 39.5836 0 25.5C0 11.4164 11.4163 0 25.5 0ZM25.5 5.1C20.0896 5.1 14.9008 7.24928 11.075 11.075C7.24928 14.9008 5.1 20.0896 5.1 25.5C5.1 30.9104 7.24928 36.0992 11.075 39.925C14.9008 43.7507 20.0896 45.9 25.5 45.9C30.9104 45.9 36.0992 43.7507 39.925 39.925C43.7507 36.0992 45.9 30.9104 45.9 25.5C45.9 20.0896 43.7507 14.9008 39.925 11.075C36.0992 7.24928 30.9104 5.1 25.5 5.1ZM25.5 30.6C26.8526 30.6 28.1498 31.1373 29.1062 32.0938C30.0627 33.0502 30.6 34.3474 30.6 35.7C30.6 37.0526 30.0627 38.3498 29.1062 39.3062C28.1498 40.2627 26.8526 40.8 25.5 40.8C24.1474 40.8 22.8502 40.2627 21.8938 39.3062C20.9373 38.3498 20.4 37.0526 20.4 35.7C20.4 34.3474 20.9373 33.0502 21.8938 32.0938C22.8502 31.1373 24.1474 30.6 25.5 30.6ZM15.3 20.4C16.6526 20.4 17.9498 20.9373 18.9062 21.8938C19.8627 22.8502 20.4 24.1474 20.4 25.5C20.4 26.8526 19.8627 28.1498 18.9062 29.1062C17.9498 30.0627 16.6526 30.6 15.3 30.6C13.9474 30.6 12.6502 30.0627 11.6938 29.1062C10.7373 28.1498 10.2 26.8526 10.2 25.5C10.2 24.1474 10.7373 22.8502 11.6938 21.8938C12.6502 20.9373 13.9474 20.4 15.3 20.4ZM35.7 20.4C37.0526 20.4 38.3498 20.9373 39.3062 21.8938C40.2627 22.8502 40.8 24.1474 40.8 25.5C40.8 26.8526 40.2627 28.1498 39.3062 29.1062C38.3498 30.0627 37.0526 30.6 35.7 30.6C34.3474 30.6 33.0502 30.0627 32.0938 29.1062C31.1373 28.1498 30.6 26.8526 30.6 25.5C30.6 24.1474 31.1373 22.8502 32.0938 21.8938C33.0502 20.9373 34.3474 20.4 35.7 20.4ZM25.5 10.2C26.8526 10.2 28.1498 10.7373 29.1062 11.6938C30.0627 12.6502 30.6 13.9474 30.6 15.3C30.6 16.6526 30.0627 17.9498 29.1062 18.9062C28.1498 19.8627 26.8526 20.4 25.5 20.4C24.1474 20.4 22.8502 19.8627 21.8938 18.9062C20.9373 17.9498 20.4 16.6526 20.4 15.3C20.4 13.9474 20.9373 12.6502 21.8938 11.6938C22.8502 10.7373 24.1474 10.2 25.5 10.2Z" fill="white"/>
						</svg>
						<h3>The best blockbusters in UHD & HD</h3>
						<p>Experience over 4000 films and series in stunning HD and UHD. Dive into our extensive VoD library for the best blockbusters and more.</p>
					</div>
				</div>
			</div>

			<section class="section pricing">
				<div class="pricing__content">
					<h2 class="pricing__title">The best in sports and movies Unbeatable prices!</h2>
					<p>Kodi add-on & M3U included!</p>
					<p>From €8.00 per month</p>
					<button class="btn" id='getStartedButton'>GET STARTED TODAY</button>
				</div>
			</section>

			<section class="section benefits">
				<h2 class="benefits__title">What else is offered</h2>
				<div class="benefits__container">
					<div class="benefits__column">
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/tvicon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/cashicon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/securityicon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
					</div>
					<div class="benefits__column">
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/hdicon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/fasticon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
						<div class="benefit-item">
							<div class="benefit-item__icon">
								<img src="assets/assets/icons/communityicon.svg" alt="Benefit icon" class="benefit-item__icon-img">
							</div>
							<p class="benefit-item__description">We offer a diverse library of movies, TV shows,
								                            documentaries, and exclusive content to cater to varied audience preferences</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section payment-options">
				<h2>Payment methods</h2>
				<div class="payment-methods">
					<div class="payment-method">
						<img src="assets/assets/icons/PayPal.svg" alt="PayPal">
					</div>
					<div class="payment-method">
						<img src="assets/assets/icons/Amazon_logo .svg" alt="Amazon">
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/bitcoin-btc-logo.svg" alt="Bitcoin">
						<span>Bitcoin (BTC)</span>
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/bitcoin-cash-bch-logo.svg" alt="Bitcoin Cash">
						<span>Bitcoin Cash (BCH)</span>
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/ethereum-eth.svg" alt="Ethereum">
						<span>Ethereum (ETH)</span>
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/monero-logo.svg" alt="Monero">
						<span>Monero (XMR)</span>
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/litecoin-ltc-logo.svg" alt="Litecoin">
						<span>Litecoin (LTC)</span>
					</div>
					<div class="payment-method" id="coin">
						<img src="assets/assets/icons/verge.svg" alt="Verge">
						<span>Verge</span>
					</div>
				</div>
			</section>

			<div class="carousel">
				<div class="carousel-track">
					<img src="assets/assets/channels/bed61828-603a-4211-8012-b6b75798eb95.png" alt="Image 1">
					<img src="assets/assets/channels/Eurosport_1_HD_Logo_2015.png" alt="Image 2">
					<img src="assets/assets/channels/Sky_Cinema+1_DE_Logo_2016.png" alt="Image 3">
					<img src="assets/assets/channels/Sky_Cinema_Action_HD_-_Logo_2019.svg" alt="Image 4">
					<img
					src="assets/assets/channels/Sky_Cinema_Comedy_-_Logo_2021.svg" alt="Image 5">

					<!-- Duplicate images for smooth looping -->
					<img src="assets/assets/channels/Sky_Krimi_HD_DE_Logo_2016.png" alt="Image 1">
					<img src="assets/assets/channels/Sky_One_HD_Logo_2020.svg" alt="Image 2">
					<img src="assets/assets/channels/Sky_Select_HD_Germany_Logo_2016.png" alt="Image 3">
					<img
					src="assets/assets/channels/Sky_Cinema+1_DE_Logo_2016.png" alt="Image 5">
					<!-- Add more duplicates as needed -->
					<img src="assets/assets/channels/Sky_Cinema_HD_2020.svg" alt="Image 15">
				</div>
			</div>
		</div>
{# 
		<footer class="footer-container">
			<div class="footer-logo">
				<a href="{{base_url}}" class="footerlogolink">
					<img src="{{base_url}}assets/assets/icons/mainlogowhite.svg" alt="Watch HD Logo" class="footer-logo-img">
					<span class="footer-logo-text">WATCH HD</span>
				</a>
			</div>
			<nav>
				<a href="{{base_url}}" class="footer-link">Home</a>
				<a href="{{base_url}}news" class="footer-link">News</a>
				<a href="{{base_url}}help" class="footer-link">Help</a>
				<a href="{{base_url}}forum" class="footer-link">Forum</a>
				<a href="{{base_url}}buy-bitcoin" class="footer-link">Buy Bitcoin (Tutorial)</a>
			</nav>
			<hr>
			<p class="footer-copy">© 2024
				<a href="{{base_url}}" class="footer-link">Watch HD™</a>. All Rights Reserved.</p>
		</footer> #}
    </div>
	{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		<script>
			document.addEventListener('DOMContentLoaded', () => { // Back to top button
const scrollToTopBtn = document.getElementById('scrollToTopBtn');
if (scrollToTopBtn) {
window.addEventListener('scroll', () => {
scrollToTopBtn.classList.toggle('show', window.scrollY > 200);
});

scrollToTopBtn.addEventListener('click', () => {
window.scrollTo({top: 0, behavior: 'smooth'});
});
}

// Hero background image carousel
const heroElement = document.querySelector('.hero');
if (heroElement) {
const images = ['{{ base_url }}assets/assets/img/heroimg.jpg', '{{ base_url }}assets/assets/img/heroimg2.jpg', '{{ base_url }}assets/assets/img/heroimg3.jpg', '{{ base_url }}assets/assets/img/heroimg4.jpg'];
let currentIndex = 0;
const backgroundLayers = [];

images.forEach((image, index) => {
const layer = document.createElement('div');
layer.classList.add('hero__background');
layer.style.backgroundImage = `url(${image})`;
layer.classList.add(index === 0 ? 'fade-in' : 'fade-out');
heroElement.appendChild(layer);
backgroundLayers.push(layer);
});

function changeBackgroundImage() {
const currentLayer = backgroundLayers[currentIndex];
const nextIndex = (currentIndex + 1) % images.length;
const nextLayer = backgroundLayers[nextIndex];

currentLayer.classList.remove('fade-in');
currentLayer.classList.add('fade-out');

nextLayer.classList.remove('fade-out');
nextLayer.classList.add('fade-in');

currentIndex = nextIndex;
}

setInterval(changeBackgroundImage, 3000);
}

// Pricing section animation
const pricingSection = document.querySelector('.pricing');
if (pricingSection) {
const elements = pricingSection.querySelectorAll('.pricing__content > *');

const observer = new IntersectionObserver((entries) => {
entries.forEach(entry => {
if (entry.isIntersecting) {
elements.forEach((element, index) => {
setTimeout(() => {
element.style.animation = `slideIn 0.8s ease-out forwards, fadeIn 0.8s ease-out forwards`;
}, index * 200);
});
} else {
elements.forEach((element) => {
element.style.animation = 'none';
});
}
});
}, {threshold: 0.1});

observer.observe(pricingSection);
}

// Benefits section animation
const benefitsContainer = document.querySelector('.benefits__container');
if (benefitsContainer) {
const leftItems = benefitsContainer.querySelectorAll(".benefits__column:first-child .benefit-item");
const rightItems = benefitsContainer.querySelectorAll(".benefits__column:last-child .benefit-item");

const observerOptions = {
threshold: 0.1
};

const createObserver = (className) => {
return new IntersectionObserver((entries, observer) => {
entries.forEach(entry => {
if (entry.isIntersecting) {
entry.target.classList.add(className);
observer.unobserve(entry.target);
}
});
}, observerOptions);
};

const leftObserver = createObserver('slide-in-left');
const rightObserver = createObserver('slide-in-right');

leftItems.forEach(item => leftObserver.observe(item));
rightItems.forEach(item => rightObserver.observe(item));
}

// Carousel
const track = document.querySelector('.carousel-track');
if (track && track.children.length > 0) {
const cloneFirst = track.firstElementChild.cloneNode(true);
const cloneLast = track.lastElementChild.cloneNode(true);
track.appendChild(cloneFirst);
track.insertBefore(cloneLast, track.firstElementChild);
}

// Table rendering (if applicable)
function renderTable(data) {
const tableBody = document.querySelector('#tableBody');
if (tableBody && Array.isArray(data)) {
tableBody.innerHTML = data.map(row => `
                    <tr>
                        <td>${
row.column1
}</td>
                        <td>${
row.column2
}</td>
                        <td>${
row.column3
}</td>
                    </tr>
                `).join('');
}
}

// User data population (if applicable)
function populateUserData(data) {
const elements = {
username: document.getElementById('username'),
email: document.getElementById('email'),
// Add other form elements here
};

for (const [key, element] of Object.entries(elements)) {
if (element && data[key]) {
element.value = data[key];
}
}
}

// Fetch user data (if applicable)
function fetchUserData() { // Simulating an API call
setTimeout(() => {
const mockData = {
username: 'JohnDoe',
email: 'john@example.com',
// Add other user data here
};
populateUserData(mockData);
}, 1000);
}

// Only call fetchUserData if at least one of the form elements exists
if (document.getElementById('username') || document.getElementById('email')) {
fetchUserData();
}
});

// Function to close notifications
function closeNotification(id) {
const notification = document.getElementById(id);
if (notification) {
notification.style.display = 'none';
}
}
		</script>
	{% endblock %}
