{% extends "layout.html.twig" %}

{% block title %}{{ t('Passwort wiederherstellen') }} |{% endblock %}

{% block content %}




<div class="login-container">
    <div class="logocontainerlog">
        <img src="{{ base_url() }}/assets/assets/icons/Logowhite.svg" alt="Logo" class="logo-loginpage">
        <h2 class="welcomesign">{{ t('Passwort wiederherstellen') }}</h2>
        <p class="subtitlesign">{{ t('Geben Sie Ihren Benutzernamen oder Ihre E-Mail-Adresse ein, um Ihr Passwort zurückzusetzen') }}</p>
    </div>

<form action="{{ base_url }}passwordrecovery.php" method="post" class="signinputs">
        {{ form_open()|raw }}
        <input type="text" name="user" id="user" class="input-username" placeholder="{{ t('Benutzername oder Emailadresse') }}" value="{{ form_value('user') }}"/>
        <button type="submit" name="submitBtn" class="button-login">{{ t('weiter') }}</button>
        {{ form_close()|raw }}
    </form>
</div>
{% endblock %}
