{# {% extends "layout.html.twig" %}

{% block title %}{{ t('Set New Password') }}{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logocontainerlog">
        <img src="{{ base_url() }}/assets/assets/icons/Logowhite.svg" alt="Logo" class="logo-loginpage">
        <h2 class="welcomesign">{{ t('Set Your New Password') }}</h2>
        <p class="subtitlesign">{{ t('Enter and confirm your new password below') }}</p>
    </div>

<form action="{{ base_url }}passwordrecovery.php" method="post" class="signinputs">
        {% if session.flash('error') %}
            <div class="alert alert-danger">
                {{ session.flash('error') }}
            </div>
        {% endif %}

        {% if session.flash('success') %}
            <div class="alert alert-success">
                {{ session.flash('success') }}
            </div>
        {% endif %}

        <form action="{{ uri.current() }}" method="post">
            <input type="password" id="password1" name="password1" class="input-username" placeholder="{{ t('New Password') }}" required>
            <input type="password" id="password2" name="password2" class="input-password" placeholder="{{ t('Confirm New Password') }}" required>
            <button type="submit" class="button-login">{{ t('Set Password') }}</button>
        </form>
    </div>
</div>
{% endblock %}
 #}

{% extends "layout.html.twig" %}

{% block title %}
{{ t('Passwort ändern') }} |  
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logocontainerlog">
        <img src="{{ base_url() }}/assets/assets/icons/Logowhite.svg" alt="Logo" class="logo-loginpage">
        <h2 class="welcomesign">{{ t('Set Your New Password') }}</h2>
        <p class="subtitlesign">{{ t('Enter and confirm your new password below') }}</p>
    </div>

{{ form_open()|raw}} 
<h1>{{ t('Passwort ändern') }}</h1>
<div class="form-group" >
    <input type="password" name="password1" id="password1" class="input-password" placeholder="Neues Passwort"  />
</div>
<div class="form-group">
    <input type="password" name="password2" id="password2" class="input-password" placeholder="Neues Passwort wiederholen" />
</div>
<div class="form-group">
    <input type="submit" name="submitBtn" class="button-login" value="{{ t('Passwort speichern') }}" />
</div>
<>
{{ form_close()|raw }}

{% endblock %}
