{% extends "ghru4pxsa3/layout.html.twig" %}

{% block title %}Dashboard
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block content %}
	<div class="dashboard-container">
		<h1 class="dashboard-title">Dashboard</h1>

		<div class="dashboard-controls">
			{{ form_open()|raw }}
			{% if maintenance %}
				<input type="hidden" name="maintenance" value="0"/>
				<input type="submit" class="dashboard-btn dashboard-btn-primary" value="Disable maintenance mode"/>
			{% else %}
				<input type="hidden" name="maintenance" value="1"/>
				<input type="submit" class="dashboard-btn dashboard-btn-secondary" value="Enable maintenance mode"/>
			{% endif %}
			{{ form_close()|raw }}
			{{ form_open()|raw }}
			{% if paysafecard_allowed %}
				<input type="hidden" name="paysafecard_allowed" value="0"/>
				<input type="submit" class="dashboard-btn dashboard-btn-primary" value="Disable Paysafecard Payments"/>
			{% else %}
				<input type="hidden" name="paysafecard_allowed" value="1"/>
				<input type="submit" class="dashboard-btn dashboard-btn-secondary" value="Enable Paysafecard Payments"/>
			{% endif %}
			{{ form_close()|raw }}

			{{ form_open()|raw }}
			{% if amazon_allowed %}
				<input type="hidden" name="amazon_allowed" value="0"/>
				<input type="submit" class="dashboard-btn dashboard-btn-primary" value="Disable Amazon Payments"/>
			{% else %}
				<input type="hidden" name="amazon_allowed" value="1"/>
				<input type="submit" class="dashboard-btn dashboard-btn-secondary" value="Enable Amazon Payments"/>
			{% endif %}
			{{ form_close()|raw }}
		</div>

		<div class="dashboard-stats-grid">
			<div
				class="dashboard-stat-card">
				<svg width="44" height="29" viewbox="0 0 44 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M25.5402 0.151053C24.3868 0.0719021 23.1995 0.0266724 22.001 0.0266724C14.9679 0.0266724 8.72624 1.41747 4.75739 3.57715C1.95318 5.10364 0.291016 7.00326 0.291016 9.07249C0.291016 9.52478 0.370167 9.96576 0.528469 10.3954C1.0486 11.888 2.4507 13.2562 4.48601 14.4095C4.49732 14.4208 4.51994 14.4208 4.53124 14.4321C4.56516 14.4548 4.59908 14.4661 4.63301 14.4887C8.59055 16.6823 14.9 18.107 22.001 18.107C28.7401 18.107 34.7669 16.8293 38.7584 14.8166C38.9732 14.7148 39.1767 14.6017 39.3803 14.4887C42.094 12.9848 43.7109 11.1078 43.7109 9.07249C43.7109 5.13756 37.6729 1.7793 29.2376 0.546808C28.0504 0.377198 26.8179 0.241511 25.5402 0.151053ZM0.291016 19.9275C0.291016 21.9628 1.90796 23.8398 4.63301 25.355C4.83654 25.468 5.04007 25.5698 5.25491 25.6829C9.23507 27.6956 15.2618 28.9733 22.001 28.9733C29.1019 28.9733 35.4114 27.5486 39.3689 25.355C42.094 23.8398 43.7109 21.9628 43.7109 19.9275V15.9247C42.2975 17.0893 40.5901 18.0392 38.747 18.8081C34.2807 20.6738 28.3557 21.7366 22.001 21.7366C15.6463 21.7366 9.72128 20.6738 5.25491 18.8081C4.37294 18.4462 3.52489 18.0278 2.72208 17.5756C2.03233 17.1911 1.38782 16.7614 0.777225 16.3091C0.607616 16.1848 0.449318 16.0491 0.291016 15.9247V19.9275Z" fill="white"/>
				</svg>
                <br>

				<div class="dashboard-stat-value">{{ sum_format(stats.sales.today) }}€</div>
				<div class="dashboard-stat-label">Umsatz heute</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="54" height="37" viewbox="0 0 54 37" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M27.9416 0.454922C23.9514 0.448197 18.9524 1.70915 14.0207 4.2759C9.09677 6.84264 5.19397 10.2052 2.90296 13.4893C0.610822 16.7621 -0.0090071 19.8109 1.11857 21.9853C2.24726 24.1485 5.10094 25.3927 9.10125 25.3927C13.1016 25.4039 18.1005 24.1373 23.0211 21.5818C27.9528 19.0151 31.8534 15.6413 34.1399 12.3684C36.4376 9.09554 37.0429 6.04683 35.922 3.87239C34.79 1.70915 31.943 0.454922 27.9416 0.454922ZM38.2422 8.33337C37.8499 10.0483 36.998 11.808 35.7987 13.5229C33.2656 17.1432 29.1297 20.6739 23.9514 23.3639C18.7731 26.0652 13.5163 27.4214 9.10013 27.4214C7.01535 27.4214 5.08301 27.1076 3.45441 26.4463L4.64139 28.7328C5.77121 30.9073 8.61704 32.1514 12.6196 32.1514C16.621 32.1514 21.62 30.896 26.5405 28.3293C31.4723 25.7738 35.3728 22.4 37.6594 19.1159C39.9459 15.8431 40.5736 12.7943 39.4415 10.6311L38.2422 8.33337ZM41.4702 10.2164C42.7256 13.2091 41.7168 16.8518 39.3182 20.2704C37.1998 23.3079 33.9605 26.2557 29.9479 28.7216C31.1921 28.8561 32.4922 28.9234 33.8148 28.9234C39.363 28.9234 44.3844 27.7353 47.9263 25.8859C51.4794 24.0365 53.4297 21.6154 53.4297 19.172C53.4297 16.7285 51.4794 14.3075 47.9263 12.4581C46.1218 11.5166 43.9249 10.7432 41.4702 10.2164ZM53.4297 24.2046C52.2864 25.5384 50.7172 26.7153 48.8678 27.6792C44.9449 29.7192 39.6545 30.9409 33.8148 30.9409C31.4386 30.9409 29.1521 30.7391 27.0113 30.358C24.4109 31.6694 21.7993 32.6446 19.2886 33.2835C19.4231 33.3619 19.5576 33.4292 19.7034 33.5076C23.2452 35.357 28.2666 36.5451 33.8148 36.5451C39.363 36.5451 44.3844 35.357 47.9263 33.5076C51.4794 31.6582 53.4297 29.2372 53.4297 26.7937V24.2046Z" fill="white"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ sum_format(stats.sales.week) }}€</div>
				<div class="dashboard-stat-label">Umsatz diese Woche</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="50" height="51" viewbox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M50 8.3125C50 10.0703 48.6035 11.6914 46.25 13C43.4082 14.5723 39.1699 15.6855 34.3066 16.0176C33.9453 15.8418 33.584 15.6758 33.2031 15.5293C29.3555 13.918 24.2383 13 18.75 13C17.9395 13 17.1484 13.0195 16.3574 13.0586L16.25 13C13.8965 11.6914 12.5 10.0703 12.5 8.3125C12.5 3.99609 20.8984 0.5 31.25 0.5C41.6016 0.5 50 3.99609 50 8.3125ZM15.6934 16.2324C16.6895 16.1641 17.7148 16.125 18.75 16.125C24.8242 16.125 30.2148 17.3262 33.6426 19.1914C36.0645 20.5098 37.5 22.1504 37.5 23.9375C37.5 24.3281 37.4316 24.709 37.2949 25.0801C36.8457 26.3691 35.6348 27.5508 33.877 28.5469C33.8672 28.5566 33.8477 28.5566 33.8379 28.5664C33.8086 28.5859 33.7793 28.5957 33.75 28.6152C30.332 30.5098 24.8828 31.7402 18.75 31.7402C12.9297 31.7402 7.72461 30.6367 4.27734 28.8984C4.0918 28.8105 3.91602 28.7129 3.74023 28.6152C1.39648 27.3164 0 25.6953 0 23.9375C0 20.5391 5.21484 17.6387 12.5 16.5742C13.5254 16.4277 14.5898 16.3105 15.6934 16.2324ZM40.625 23.9375C40.625 21.7988 39.5898 20.041 38.2715 18.7227C41.0352 18.293 43.5645 17.6094 45.7129 16.7207C47.3047 16.0566 48.7891 15.2363 50 14.2305V17.6875C50 19.5723 48.3887 21.3105 45.7227 22.6582C44.2969 23.3809 42.5586 23.9961 40.6055 24.4648C40.6152 24.2891 40.625 24.123 40.625 23.9473V23.9375ZM37.5 33.3125C37.5 35.0703 36.1035 36.6914 33.75 38C33.5742 38.0977 33.3984 38.1855 33.2129 38.2832C29.7754 40.0215 24.5703 41.125 18.75 41.125C12.6172 41.125 7.16797 39.8945 3.75 38C1.39648 36.6914 0 35.0703 0 33.3125V29.8555C1.2207 30.8613 2.69531 31.6816 4.28711 32.3457C8.14453 33.957 13.2617 34.875 18.75 34.875C24.2383 34.875 29.3555 33.957 33.2129 32.3457C33.9746 32.0332 34.707 31.6719 35.4004 31.2813C35.9961 30.9492 36.5527 30.5781 37.0801 30.1875C37.2266 30.0801 37.3633 29.9629 37.5 29.8555V33.3125ZM40.625 33.3125V27.6582C42.4805 27.248 44.1895 26.7305 45.7129 26.0957C47.3047 25.4316 48.7891 24.6113 50 23.6055V27.0625C50 28.0879 49.5117 29.1133 48.5449 30.0801C46.9531 31.6719 44.1504 32.9805 40.6055 33.8301C40.6152 33.6641 40.625 33.4883 40.625 33.3125ZM18.75 44.25C24.2383 44.25 29.3555 43.332 33.2129 41.7207C34.8047 41.0566 36.2891 40.2363 37.5 39.2305V42.6875C37.5 47.0039 29.1016 50.5 18.75 50.5C8.39844 50.5 0 47.0039 0 42.6875V39.2305C1.2207 40.2363 2.69531 41.0566 4.28711 41.7207C8.14453 43.332 13.2617 44.25 18.75 44.25Z" fill="white"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ sum_format(stats.sales.month) }}€</div>
				<div class="dashboard-stat-label">Umsatz diesen Monat</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="40" height="45" viewbox="0 0 40 45" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M27.5544 18.8535C25.5507 20.8685 22.8335 22 20.001 22C17.1684 22 14.4513 20.8685 12.4475 18.8535C10.4436 16.8384 9.31738 14.1048 9.31738 11.2538C9.31738 8.40285 10.4436 5.66922 12.4475 3.65413C14.4513 1.63913 17.1684 0.507629 20.001 0.507629C22.8335 0.507629 25.5507 1.63913 27.5544 3.65413C29.5583 5.66922 30.6846 8.40285 30.6846 11.2538C30.6846 14.1048 29.5583 16.8384 27.5544 18.8535ZM0.929688 42.3829C0.929688 34.0021 7.68073 27.2173 16.0081 27.2173H23.9939C32.3212 27.2173 39.0723 34.0021 39.0723 42.3829C39.0723 43.5503 38.1315 44.4924 36.9773 44.4924H3.02463C1.8705 44.4924 0.929688 43.5503 0.929688 42.3829Z" fill="white" stroke="white"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ stats.users.total }}</div>
				<div class="dashboard-stat-label">Benutzer</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="40" height="47" viewbox="0 0 40 47" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M22.0364 1.94982C21.3697 1.82571 20.6886 1.76202 20.001 1.76202C17.0349 1.76202 14.1903 2.94689 12.093 5.05596C9.99565 7.16503 8.81738 10.0255 8.81738 13.0082C8.81738 15.9909 9.99565 18.8514 12.093 20.9605C14.1903 23.0695 17.0349 24.2544 20.001 24.2544C22.9671 24.2544 25.8116 23.0695 27.909 20.9605C28.7575 20.1072 29.4555 19.131 29.986 18.0734C24.4648 18.0348 20.001 13.5471 20.001 8.01685C20.001 5.73803 20.7589 3.63624 22.0364 1.94982ZM0.429688 44.1373C0.429688 35.483 7.40196 28.4717 16.0081 28.4717H23.9939C32.6 28.4717 39.5723 35.483 39.5723 44.1373C39.5723 45.5782 38.4102 46.7468 36.9773 46.7468H3.02463C1.59173 46.7468 0.429688 45.5782 0.429688 44.1373Z" fill="white"/>
					<circle cx="30.5948" cy="7.5863" r="7.33307" fill="#00FF1A"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ stats.users.active }}</div>
				<div class="dashboard-stat-label">Aktive Benutzer</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="48" height="57" viewbox="0 0 48 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M37.4503 0.832947H41.2252V7.4143L47.8066 7.4143V11.1892H41.2252V17.7704H37.4503V11.1892H30.8691V7.4143L37.4503 7.4143V0.832947ZM27.6746 30.3808C25.5773 32.4898 22.7327 33.6747 19.7666 33.6747C16.8005 33.6747 13.9559 32.4898 11.8586 30.3808C9.76128 28.2717 8.58301 25.4112 8.58301 22.4285C8.58301 19.4458 9.76128 16.5853 11.8586 14.4762C13.9559 12.3672 16.8005 11.1823 19.7666 11.1823C22.7327 11.1823 25.5773 12.3672 27.6746 14.4762C29.7719 16.5853 30.9502 19.4458 30.9502 22.4285C30.9502 25.4112 29.7719 28.2717 27.6746 30.3808ZM0.195312 53.5576C0.195312 44.9033 7.16758 37.892 15.7737 37.892H23.7595C32.3656 37.892 39.3379 44.9033 39.3379 53.5576C39.3379 54.9985 38.1758 56.1671 36.7429 56.1671H2.79026C1.35736 56.1671 0.195312 54.9985 0.195312 53.5576Z" fill="#ffffff"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ stats.signups.today }}</div>
				<div class="dashboard-stat-label">Anmeldungen heute</div>
			</div>
			<div
				class="dashboard-stat-card">
				<svg width="70" height="57" viewbox="0 0 70 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M63.3277 0.832947H59.5528V7.4143L52.9717 7.4143V11.1892H59.5528V17.7704H63.3277V11.1892H69.9092V7.4143L63.3277 7.4143V0.832947ZM41.8691 33.6747C44.8352 33.6747 47.6798 32.4898 49.7771 30.3808C51.8745 28.2717 53.0527 25.4112 53.0527 22.4285C53.0527 19.4458 51.8745 16.5853 49.7771 14.4762C47.6798 12.3672 44.8352 11.1823 41.8691 11.1823C38.9031 11.1823 36.0585 12.3672 33.9611 14.4762C31.8638 16.5853 30.6855 19.4458 30.6855 22.4285C30.6855 25.4112 31.8638 28.2717 33.9611 30.3808C36.0585 32.4898 38.9031 33.6747 41.8691 33.6747ZM37.8762 37.892C29.2701 37.892 22.2979 44.9033 22.2979 53.5576C22.2979 54.9985 23.4599 56.1671 24.8928 56.1671H58.8455C60.2784 56.1671 61.4404 54.9985 61.4404 53.5576C61.4404 44.9033 54.4682 37.892 45.862 37.892H37.8762ZM22.7829 41.3223C19.8117 44.3846 17.9092 49.0965 17.9092 54.3829C17.9092 55.0617 18.0978 55.6839 18.4111 56.1671H2.25198C1.05915 56.1671 0.0917969 55.1943 0.0917969 53.9948C0.0917969 46.7904 5.89593 40.9538 13.0602 40.9538H19.708C20.7675 40.9538 21.7972 41.0815 22.7829 41.3223ZM22.9672 34.701C21.2213 36.4567 18.8532 37.4431 16.3841 37.4431C13.915 37.4431 11.547 36.4567 9.80102 34.701C8.05508 32.9453 7.07422 30.564 7.07422 28.0811C7.07422 25.5981 8.05508 23.2168 9.80102 21.4611C11.547 19.7054 13.915 18.7191 16.3841 18.7191C18.8532 18.7191 21.2213 19.7054 22.9672 21.4611C24.7131 23.2168 25.694 25.5981 25.694 28.0811C25.694 30.564 24.7131 32.9453 22.9672 34.701Z" fill="#ffffff"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ stats.signups.week }}</div>
				<div class="dashboard-stat-label">Anmeldungen diese Woche</div>
			</div>

			<div
				class="dashboard-stat-card">
				<svg width="90" height="57" viewbox="0 0 90 57" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M59.6603 0.832947H63.4352V7.4143L70.0166 7.4143V11.1892H63.4352V17.7704H59.6603V11.1892H53.0791V7.4143L59.6603 7.4143V0.832947ZM49.8846 30.3808C47.7872 32.4898 44.9426 33.6747 41.9766 33.6747C39.0105 33.6747 36.1659 32.4898 34.0686 30.3808C31.9712 28.2717 30.793 25.4112 30.793 22.4285C30.793 19.4458 31.9712 16.5853 34.0686 14.4762C36.1659 12.3672 39.0105 11.1823 41.9766 11.1823C44.9426 11.1823 47.7872 12.3672 49.8846 14.4762C51.9819 16.5853 53.1602 19.4458 53.1602 22.4285C53.1602 25.4112 51.9819 28.2717 49.8846 30.3808ZM22.4053 53.5576C22.4053 44.9033 29.3775 37.892 37.9837 37.892H45.9695C54.5756 37.892 61.5479 44.9033 61.5479 53.5576C61.5479 54.9985 60.3858 56.1671 58.9529 56.1671H25.0002C23.5673 56.1671 22.4053 54.9985 22.4053 53.5576ZM18.0166 54.3829C18.0166 49.0965 19.9192 44.3846 22.8903 41.3223C21.9047 41.0815 20.8749 40.9538 19.8155 40.9538H13.1676C6.00336 40.9538 0.199219 46.7904 0.199219 53.9948C0.199219 55.1943 1.16658 56.1671 2.35941 56.1671H18.5185C18.2052 55.6839 18.0166 55.0617 18.0166 54.3829ZM16.4915 37.4431C18.9607 37.4431 21.3287 36.4567 23.0746 34.701C24.8206 32.9453 25.8014 30.564 25.8014 28.0811C25.8014 25.5981 24.8206 23.2168 23.0746 21.4611C21.3287 19.7054 18.9607 18.7191 16.4915 18.7191C14.0224 18.7191 11.6544 19.7054 9.90844 21.4611C8.1625 23.2168 7.18164 25.5981 7.18164 28.0811C7.18164 30.564 8.1625 32.9453 9.90844 34.701C11.6544 36.4567 14.0224 37.4431 16.4915 37.4431ZM87.6417 56.1671H64.9751C65.1 55.795 65.1687 55.3882 65.1687 54.962C65.1687 50.7697 64.062 46.8912 62.1826 43.7312C64.3865 41.9912 67.1652 40.9538 70.1856 40.9538H76.8335C83.9977 40.9538 89.8019 46.7904 89.8019 53.9948C89.8019 55.1943 88.8345 56.1671 87.6417 56.1671ZM73.5095 37.4431C75.9787 37.4431 78.3467 36.4567 80.0926 34.701C81.8386 32.9453 82.8194 30.564 82.8194 28.0811C82.8194 25.5981 81.8386 23.2168 80.0926 21.4611C78.3467 19.7054 75.9787 18.7191 73.5095 18.7191C71.0404 18.7191 68.6724 19.7054 66.9265 21.4611C65.1805 23.2168 64.1996 25.5981 64.1996 28.0811C64.1996 30.564 65.1805 32.9453 66.9265 34.701C68.6724 36.4567 71.0404 37.4431 73.5095 37.4431Z" fill="#ffffff"/>
				</svg>
                <br>
				<div class="dashboard-stat-value">{{ stats.signups.month }}</div>
				<div class="dashboard-stat-label">Anmeldungen diesen Monat</div>
			</div>
		</div>
	</div>
{% endblock %}
